sudo: false
before_script:
- composer self
- composer --version
- composer install -n
language: php
# safelist
branches:
  only:
  - release
  - develop
php:
  - '7.2'
script:
 - php vendor/bin/codecept run unit
