sudo: false
before_install:
#- bash ./preflight.sh # Don't trigger on .MD changes.
before_script:
- composer self
- composer --version
- composer install -n
language: php
php:
  - '7.2'
script:
 - php vendor/bin/codecept run unit